* {
    font-size: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --note-color: rgb(223, 234, 98);
    --note-border-color: rgb(219, 219, 21);
    --note-border: 1px solid var(--note-border-color);
    --note-border-radius: 4px 4px;
    --title-height: 48px;
    --note-min-size: 300px;
    --text-color: #7b7b1f;
    --background-color: #f4f4f4;
    width: 100svw;
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 24px;
    color: var(--text-color);
}

li {
    list-style-type: none;
}

button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header {
    padding: 50px 100px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

footer>menu {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    margin: 0;
    width: 100%;
}

footer>menu>li>button {
    background-color: var(--note-color);
    padding: 12px 16px;
    border: 2px solid var(--background-color);
    border-radius: 12px;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--note-border-color);
    outline-offset: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

footer>menu>li>button:hover {
    outline-offset: 2px;
    border-color: var(--note-border-color);
}

main {
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
}

main>section.note>form {
    flex-direction: column;
    justify-content: start;
    width: max-content;
    min-height: var(--note-min-size);
    min-width: var(--note-min-size);
    position: relative;
}

main>section.note>form>button.remove {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--title-height);
    height: var(--title-height);
}

main,
main>section.note,
main>section.note>form {
    display: flex;
}

main>section.note>form>input.note-title {
    width: 100%;
    line-height: 1rem;
    text-align: center;
    background-color: var(--note-color);
    padding: 12px 16px 0 16px;
    border: var(--note-border);
    border-radius: var(--note-border-radius) 0 0;
    height: var(--title-height);
    flex: 0 0 var(--title-height);
    color: var(--text-color);
}

main>section.note>form>textarea.note-content {
    width: 100%;
    min-height: calc(var(--note-min-size) - var(--title-height));
    min-width: var(--note-min-size);
    line-height: 1.1rem;
    padding: 12px 16px;
    background-color: var(--note-color);
    border: var(--note-border);
    border-radius: 0 0 var(--note-border-radius);
    resize: none;
    font-family: inherit;
    flex: 1 1 auto;
    transform: skewX(-0.01turn);
    transform-origin: top left;
    overflow: hidden;
    resize: both;
    text-align: left;
    box-shadow: 3px 20px 20px rgba(0, 0, 0, .1);
    color: var(--text-color);
}